<h2>Bio</h2>
<h3>Editing</h3>
<form action="/admin/update/bio/<%= @bio.id %>"  method="post" class="new-element-form" >
	<p class="new-element-form" id="text" >
		<input type="text" name="title" class="textfield" style="width: 520px;" value="<%= @bio.title %>" />
	</p>
	<p class="new-element-form" id="text" >
		<textarea type="text" name="article" class="textfield" value="" cols="72" rows="10"><%= @bio.article %></textarea>
	</p>

	<p>
		<input type="submit" value="Update Post" class="btn">&nbsp; <a href="/admin/" class="danger" >Cancel</a>
		
	</p>
	
</form>
