<h3>Edit <%= @page.name %></h3>

<form action="/admin/new/element/" class="" method="post" id="new-element-form" >
	<p class="new-element-form" >
		<select name="label" >
			<option value="Header">Header</option>
			<option value="Image" id="image">Image</option>
			<option value="Paragraph">Paragraph</option>
			<option value="List">List</option>
		</select>
	</p>
	<p class="new-element-form" id="text" >
		<input type="text" name="element_content" class="textfield" placeholder=""/>
	</p>
	<p class="new-element-form" id="image" style="display: none;" >
		<input type="file" name="file" />
	</p>
	<p>
		<input type="submit" value="Add Element" class="button">
	</p>
	
</form>


<%= header(2, 'right', 'This is my header.') %>
