<h2>Video</h2>
<h3>Editing</h3>
<a href="/video/edit/">Back</a>
<form action="/admin/update/video/<%= @video.id %>"  method="post" class="new-element-form" >
	<p class="new-element-form" id="text" >
		<input type="text" name="title" class="textfield" value="<%= @video.title %>" />
	</p>
	<p class="new-element-form" id="text" >
		<input type="text" name="article" class="textfield" value="<%= @video.link %>" cols="72" rows="10">
	</p>
	<p>
		<input type="submit" value="Update Post" class="btn">
	</p>
	
</form>
