<div id="jquery_jplayer"></div>

<div class="jp-playlist-player">
	<div id="jplayer_playlist" class="jp-playlist">
		<ul>
			<!-- The function displayPlayList() uses this unordered list -->
			<li></li>
		</ul>
	</div>
	<div class="jp-interface">
		<ul class="jp-controls">
			<li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li>
			<li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li>
		</ul>
		<div class="jp-progress">
			<div id="jplayer_load_bar" class="jp-load-bar">
				<div id="jplayer_play_bar" class="jp-play-bar"></div>
			</div>
		</div>
		<div id="now_playing"></div>
		<div id="jplayer_play_time" class="jp-play-time"></div>
		<div id="jplayer_total_time" class="jp-total-time"></div>
	</div>
</div>
<div><a href="#" class="top" id="lyrics_link" >Get The Lyrics</a> <a href="http://click.linksynergy.com/fs-bin/stat?id=eH8NOY8fBFE&offerid=78941&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fphobos.apple.com%252FWebObjects%252FMZStore.woa%252Fwa%252FviewAlbum%253Fid%253D507185633%2526s%253D143441%2526partnerId%253D30"><img height="15" width="61" style="position:relative; top: 5px; left: 230px;" alt="Thomas Barnette - Thomas Barnette" src="http://www.tunecore.com/images/buttons/badgeitunes61x15dark.gif" /></a></div>


