<div id="jquery_jplayer"></div>

<div class="jp-single-player">
	<div class="jp-interface">
		<ul class="jp-controls">
			<li><a href="#" id="custom_jplayer_play" class="jp-play" tabindex="1">play</a></li>
			<li><a href="#" id="custom_jplayer_pause" class="jp-pause" tabindex="1">pause</a></li>
		</ul>
		<div id="jplayer_playlist" class="jp-playlist">
			<ul>
				<li>Bubble</li>
			</ul>
		</div>
		<div class="jp-progress">
				<div id="custom_jplayer_play_bar" class="jp-play-bar"></div>
		</div>
		<div id="jplayer_play_time" class="jp-play-time"></div>
		<div id="jplayer_total_time" class="jp-total-time"></div>
	</div>
</div>
