body {
    margin: 0px;
}

@font-face {
    font-family: walkway-bold;
    src: url('../fonts/walkway-bold.ttf');
}

#main-wrap {
    width: 100%;
}

/* All header styles */

#header {

    width: 100%;
}

#banner {
    width: 500px;
    margin-left: auto; margin-right: auto;
}

#banner h1 {
    margin: 0px;
}

#nav {
    background: url('../images/gradient1.png') repeat-x white;
    height: 49px;
}

#nav ul {
    width: 400px;
    margin-left: auto; margin-right: auto;
}

#nav li {
    display: inline;
}

#slideshow {
    height: 149px;
    background: url('../images/gradient2.png') repeat-x bottom white;
    margin-left: auto; margin-right: auto;
}

#slide-wrap {
    margin-left: auto; margin-right: auto;
    width: 900px;
    position: relative;
    top: 10px;
}

/* Content Styles */
h2 {
    font-family: walkway-bold;
    font-size: 25pt;
    letter-spacing: 6px;
    color: #414042;
    margin-bottom: 40px;
}

#content {
    width: 900px;
    margin-left: auto; margin-right: auto;
}

#music {
    margin-bottom: 400px;
}

#music div {
    padding-left: 55px;
    position: relative;
    float: left;
}

#biography {
}

#biography p {
    color: #58595b;
    font-family: helvetica;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: lighter;
    padding-left: 55px;
}

#video ul {
    list-style-type: none;
    color: #58595B;
}

#video li:nth-child(odd) {
    font-weight: bold;
    font-family: helvetica;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#video li:nth-child(even) {
    font-family: helvetica;
    font-style: italic;
    margin-bottom: 50px;
}

/* Footer Styles */
#footer {
    width: 100%;
    background-color: #e3e4e5;
    margin-left: auto; margin-right: auto;
}

#footer-slides {
    background-color: white;
}

#social-media {
    width: 900px;
    margin-left: auto; margin-right: auto;
}

/* Accordion */
#accordion p {
    font-family: helvetica;
    line-height: 25px;
}

#about-accordion {
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}

#accordion h2, h3 {
    font-size: 18px;
    font-family: helvetica;
    font-weight: lighter;
}

#accordion h2 {
    margin-top: 0px;
    padding-left: 50px;
}

#accordion a {
    color: black;
    text-decoration: none;
}

#accordion a:visited {
    color: black;
    text-decoration: none;
}

.ui-accordion-content {

}

}
