<!DOCTYPE html>
<html>
  <head>
    {% block extra_css %}{% endblock %}
    <link rel="Stylesheet" type="text/css" href="static/css/style.css">
    <link rel="Stylesheet" type="text/css" href="static/js/hover/jquery.hoverscroll.css">
    <link rel="Stylesheet" type="text/css" href="static/js/prettyPhoto/css/prettyPhoto.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jqueryUI/js/jquery-ui-1.8.15.custom.min.js"></script>
    <script type="text/javascript" src="static/js/hover/jquery.hoverscroll.js"></script>
    <script type="text/javascript" src="static/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>


    <script type="text/javascript">
      $(document).ready(function() {
      $("#slides").hoverscroll();
      $("#footer-slides").hoverscroll();
      $("a[rel^='prettyPhoto']").prettyPhoto();
      });
    </script>
    
    <script>
	$(function() {
	    $( "#accordion" ).accordion();
	});
    </script>

    <title>{% block title %}Thomas Barnette{% endblock %}</title>

  </head>
  <body>

    <div id="main-wrap">

      <div id="header">

	<div id="banner">
	  <a href="#top"><img src="static/images/thomasbarnett_logo.png"></a>
	</div>
	
	<div id="nav">
	  <ul>
	    <li><a href="#music" class="music">MUSIC</a></li>
	    <li><a href="#biography" class="biography">BIOGRAPHY</a></li>
	    <li><a href="#video" class="video">VIDEO</a></li>
	    <li><a href="#news" class="news">NEWS</a></li>
	    <li><a href="#contact" class="contact">CONTACT</a></li>
	  </ul>
	</div>
	
	<div id="slideshow">
	  <div id="slide-wrap">
	    <ul id="slides">
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer1.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_01.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer2.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_02.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer3.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_03.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer4.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_04.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer5.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_05.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer6.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_06.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer7.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_07.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer8.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_08.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer9.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_09.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer10.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_10.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer12.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_11.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_12.jpg"></a></li>
	    </ul>
	  </div>
	</div>
      </div>

    </div>

    <div id="content">
      
      <div id="music">
	<h2>MUSIC</h2>
	<div id="music-album">
	  <img src="static/images/CD.jpeg">
	</div>

	<div id="music-list">
	  <p>music here</p>
	</div>


      </div>

      <div id="biography">
	<h2>BIOGRAPHY</h2>
	<p>
	  Thomas began singing when he was 4 years old. The first song that came out of his mouth was “God Gave Me A Song”. Ever since that time, singing, music, and performing has been Thomas’ strongest passion in life. After graduating with a degree in Industrial Engineering from Georgia Tech, Thomas worked in the corporate world for a while. Eventually, he had to live his passion for music. He worked with the Olympic Opening Ceremonies in 1996 as a choreographer, singer and dancer for the Opening Ceremonies and Coca Cola Olympic City. Thomas has also worked with shows like the Super Bowl Halftime Show, Fox Theater Anniversary Show, and has written jingles and been in commercials for many different companies in the Atlanta area. Now, Thomas’ goal is to share his music with the world. His CD entitled “Thomas Barnette” will be released this summer on his own label TNB Music.
	</p>

	<a href="#top" class="top">Back To Top</a>

      </div>

      <div id="video">
	<h2>VIDEO</h2>
	<ul>
	  <li>Check back soon for videos</li>
	</ul>

      </div>
	<a href="#top" class="top">Back To Top</a>

      <div id="news">
	<h2>NEWS</h2>
	
	<div id="accordion">
	  {% for post in latest_news_list %}
	  <h3><a href="#">[+]&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ post.title|upper  }}<h2>{{ post.pub_date }}</h2></a></h3>
	  
	  <div>
	    <p>{{ post.article }}</p>
	  </div>
	  {% endfor %}
	</div>


      </div>
	<a href="#top" class="top">Back To Top</a>

    </div>

    <div id="footer">
      
      <div id="footer_slideshow">
	  <div id="slide-wrap">
	    <ul id="footer-slides">
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer1.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_01.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer2.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_02.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer3.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_03.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer4.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_04.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer5.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_05.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer6.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_06.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer7.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_07.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer8.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_08.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer9.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_09.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer10.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_10.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer12.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_11.jpg"></a></li>
	      <li style="width:80px; height:80px;"><a href="static/images/slides/Layer13.jpg" rel="prettyPhoto[slide]"><img src="static/images/thumbs/ThomasMontage_12.jpg"></a></li>
	    </ul>
	  </div>
      </div>

      <div id="social-media">
	<a href="mailto:info@thomasbarnette.com" class="email">info@thomasbarnette.com</a> <p>© 2011 ThomasBarnette.com</p>
      </div>
      
    </div>

</div>
</body>
</html>

