<!DOCTYPE html>
<html>
  <head>
    {% block extra_css %}{% endblock %}
    <link rel="Stylesheet" type="text/css" href="static/css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jqueryUI/js/jquery-ui-1.8.15.custom.min.js"></script>

    <script>
	$(function() {
	    $( "#accordion" ).accordion();
	});
    </script>

    <title>{% block title %}Thomas Barnette{% endblock %}</title>

  </head>
  <body>

    <div id="main-wrap">

      <div id="header">

	<div id="banner">
	  <h1>THOMAS BARNETTE</h1>
	</div>
	
	<div id="nav">
	  <ul>
	    <li>Music</li>
	    <li>Biography</li>
	    <li>Video</li>
	    <li>News</li>
	    <li>Contact</li>
	  </ul>
	</div>
	
	<div id="slideshow">
	  <p>stuff here</p>
	</div>

      </div>

      <div id="content">
	
	<div id="music">
	  <h2>MUSIC</h2>
	  <div id="music-album">
	    <p>picture here</p>
	  </div>

	  <div id="music-list">
	    <p>music here</p>
	  </div>
	</div>

	<div id="biography">
	  <h2>BIOGRAPHY</h2>
	  <p>Placeat ex before they sold out, wolf brunch consequat quinoa thundercats farm-to-table mollit put a bird on it quis dolor art party trust fund. Tattooed seitan sunt mustache. Messenger bag organic mollit portland aute culpa, sustainable before they sold out tempor enim 3 wolf moon. DIY jean shorts adipisicing, biodiesel vero organic gentrify photo booth you probably haven't heard of them. Leggings tofu wayfarers, farm-to-table artisan pitchfork single-origin coffee esse four loko. Sint cred pariatur iphone incididunt synth. Fap fugiat do DIY, mlkshk whatever leggings tumblr est consectetur.
	  </p>
	</div>

	<div id="video">
	  <h2>VIDEO</h2>
	  <ul>
	    <li>"LET ME BREATHE" LIVE AT THE ROXY, ATLANTA, GA</li>
	    <li>APRIL 13, 2011</li>

	    <li>"NATURE BOY" LIVE AT THE ROXY, ATLANTA, GA</li>
	    <li>APRIL 13, 2011</li>

	    <li>"REAL LOVE" LIVE AT THE ROXY, ATLANTA, GA</li>
	    <li>APRIL 13, 2011</li>

	  </p>
	</div>

	<div id="news">
	  <h2>NEWS</h2>

	  <div id="accordion">
	    {% for post in latest_news_list %}
	    <h3><a href="#">[+]&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ post.title|upper  }}<h2>{{ post.pub_date }}</h2></a></h3>
	    
	    <div>
	      <p>{{ post.article }}</p>
	    </div>
	    {% endfor %}
	  </div>

	  </p>
	</div>

      </div>

      <div id="footer">

	<div id="footer_slideshow">
	  <p>images here</p>
	</div>

	<div id="social-media">
	  <p>links here</p>
	</div>

      </div>

    </div>
  </body>
</html>
    
